# Modules
node_modules

# Build
dist
build
types

# Logs
*.log
pnpm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.dccache
*.local
.vesel
.turbo
