.app p {
  text-align: center;
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.versionList {
  list-style-type: none;
  padding: 0;
}

.versionList li {
  font-size: 15px;
}

button {
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  background-color: #ffee56;
  font-size: calc(10px + 2vmin);
}
